In [1]:
import pandas as pd

print(pd.__version__)

1.3.4

In [9]:
d = {'no_nota':[1, 1, 1, 2, 2, 3, 4, 5],
    'kopi': ['latte', 'cappuccino', 'espresso', 'latte', 'espresso', 'cappuccino', 'latte', 'espresso'],
    'harga':[50, 60, 80, 150, 120, 60, 100, 40]}

df = pd.DataFrame(d)
df

   no_nota        kopi  harga
0        1       latte     50
1        1  cappuccino     60
2        1    espresso     80
3        2       latte    150
4        2    espresso    120
5        3  cappuccino     60
6        4       latte    100
7        5    espresso     40

In [1]:
df.groupby('no_nota')['harga'].sum().to_frame()

NameError: name 'df' is not defined

In [1]:
df['total_harga'] = df.groupby('no_nota')['harga'].transform(sum)
df

NameError: name 'df' is not defined

In [ ]:
d = {'no_nota':[1, 1, 1, 2, 2, 3, 4, 5],
    'kopi': ['latte', 'cappucino', 'espresso', 'latte', 'espresso', 'cappucino', 'latte', 'espresso'],
            'harga':[50, 60, 80, 150, 120, 60, 100, 40]}

df = pd.DataFrame(d)
df

In [ ]:
df.groupby('no_nota')['harga'].sum()to_frame()

In [ ]:
df['total_harga'] = df.groupby('no_nota')['harga'].transform(sum)
df

In [ ]:
#menghitung total omset untuk tiap jenis kopi yang terjual

df.groupby('kopi')['harga'].sum()to_frame()

In [ ]:
df['total_omset'] = df.groupby('kopi')['harga'].transform(sum)
df